<div>
</div>
<!-- ******************middle column**************** -->
<div>
  <div class="well">
<h1 class="text-primary">@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what's going on: </p>

<div class="search-tweak2">
<%= form_for Tweet.new, url: {action: 'epi_tweet'} do |f| %>
	<%= f.text_field :message, class: 'form-control search-form2' %>
	<%= f.hidden_field :user_id, value: current_user.id %><br />
	<%= f.submit 'New Tweet', class: 'btn btn-info pull-right' %>
<% end %>
</div><br />
<hr>
<% @following_tweets.each do |t| %>
<div class="media">
  <div class="media-left">
    <%= link_to image_tag t.user.avatar.thumb, class: "img-rounded" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>@<%= link_to t.user.username, show_user_path(id: t.user.id) %></strong></h4>
    <p><%= t.message.html_safe %></p>
    <p><%= time_ago_in_words(t.created_at) %> ago</p>
  </div>
</div>
<hr>
<% end %>
</div>
</div>

<!-- ******************** right column **************** -->
<div>
</div>